*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: #171836;
}
.logo h2{
    color: #C7CAFE;
    font-family: sans-serif;
}
.navbar{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul li{
    display: inline;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    cursor: pointer;
}
ul li:hover{
    color: #fff;
    transition: 0.3s;
}
.introduction{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
}
.boy_img{
    position: relative;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0%   {left:-1000px; top:0;}
    100% { left:0; top:0;}
}

.image_block{
    max-width: 55%;
}
.text_block{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.text_block h1{
    font-size: 48px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 100px;
}
.text_block p{
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    margin-top: 30px;
}
.opportunities{
    height: 350px;
    display: flex;
    justify-content: space-around;
}
.opp_block{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}
.opp_block p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
.choosing{ 
    width: 100%;
    height: 900px;
}
.choosing_text{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}
.choosing_text h2{
    color: #fff;
    font-family: sans-serif;
    font-size: 36px;
}
.choosing_text p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
}
.courses{
    display: flex;
    justify-content: space-around;
}
.btc{
    height: 400px;
    width: 276px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 84px;
    border-radius: 20px;
    padding-top: 10px;
    background-image: linear-gradient(to top, #202246, #282B57);
    border: 3px solid #323465;
}