*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: #171836;
}
.logo h2{
    color: #C7CAFE;
    font-family: sans-serif;
}
.navbar{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul li{
    display: inline;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    cursor: pointer;
}
ul li:hover{
    color: #fff;
    transition: 0.3s;
}
.introduction{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
}
.image_block{
    max-width: 55%;
}
.text_block{
    max-width: 45%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.text_block h1{
    font-size: 56px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 100px;
}
.girl_img{
max-width: 600px;
    max-height: 600px;

}